<br/><br/>
<div class="mat-display-3">Tooltip´s</div>
<div class="mat-subheading-2">Muestra de la integración del Tooltip´s de Angular Material´s</div>
<mat-divider></mat-divider>
<br/><br/>
<button mat-raised-button matTooltip="Welcome to code!">Hello</button>
<br/><br/><br/>
<button mat-raised-button matTooltip="Welcome to code!" matTooltipPosition="after">Hello</button>
<br/><br/><br/>
<button mat-raised-button matTooltip="Welcome to code!" matTooltipPosition="before">Hello</button>
<br/><br/><br/>
<button mat-raised-button matTooltip="Welcome to code!" matTooltipPosition="above">Hello</button>
<br/><br/><br/>
<button 
    mat-raised-button 
    matTooltip="Welcome to code!" 
    matTooltipPosition="above"
    matTooltopShowDelay="2000"
    matTooltipHideDelay="2000"
    >Hello</button>
<br/><br/><br/>