<br/><br/>
<div class="mat-display-3">Tipografias</div>
<div class="mat-subheading-2">Muestra de la integración de las tipografias Angular Material´s</div>
<mat-divider></mat-divider>
<br/><br/><br/><br/>
<div class="mat-display-4">Clase: "mat-display-4"</div>
<div class="mat-display-3">Clase: "mat-display-3"</div>
<div class="mat-display-2">Clase: "mat-display-2"</div>
<div class="mat-display-1">Clase: "mat-display-1"</div>

<br/><br/>
<div class="mat-headline">Clase: "mat-headline" = h1</div>
<div class="mat-title">Clase: "mat-title" = h2</div>
<div class="mat-subheading-2">Clase: "mat-subheading-2" = h3</div>
<div class="mat-subheading-1">Clase: "mat-subheading" = h4</div>

<br/><br/>
<div class="mat-body-1">Clase: "mat-body-1"</div>
<div class="mat-body-2">Clase: "mat-body-2"</div>
<div class="mat-caption">Clase: "mat-caption"</div>

<br/><br/><br/><br/>
<div class="mat-display-3">Mat-typography</div>
<div class="mat-subheading-2">Clase para las etiquetas h1...</div>
<br/>
<div class="mat-typography">
    <h1>Text h1</h1>
    <h1>Text h1</h1>
    <h2>Text h2</h2>
    <h3>Text h3</h3>
    <h4>Text h4</h4>
</div>
