<br/><br/>
<div class="mat-display-3">Botónes</div>
<div class="mat-subheading-2">Muestra de la integración de los botónes de Angular Material´s</div>
<mat-divider></mat-divider>
<div>
    <br/><br/>
    <div class="mat-title">Botón: "mat-button"</div>
    <button mat-button>Click me!</button>

    <div class="mat-title">Botón: "raised-button"</div>
    <button mat-raised-button>Click me!</button>

    <div class="mat-title">Botón: "flat-button"</div>
    <button mat-flat-button>Click me!</button>
    
    <div class="mat-title">Botón: "stroked-button"</div>
    <button mat-stroked-button>Click!</button>
</div>
<div>
    <div class="mat-title">Botón: "icon-button"</div>
    <button mat-icon-button>Click!</button>

    <div class="mat-title">Botón: "mat-fab"</div>
    <button mat-fab>fab</button>

    <div class="mat-title">Botón: "mat-minifab"</div>
    <button mat-minifab>minifab</button>

    <div class="mat-title">Botón Mat-button Color: "primary"</div>
    <button color="primary" mat-button>Click!</button>

    <div class="mat-title">Botón Mat-button Color: "accent"</div>
    <button color="accent" mat-button>Click!</button>

    <div class="mat-title">Botón Mat-button Color: "warn"</div>
    <button color="warn" mat-button>Click!</button>

    <div class="mat-title">Botón Mat-raised-button Color: "primary"</div>
    <button color="primary" mat-raised-button>Click!</button>

    <div class="mat-title">Botón Mat-raised-button Color: "accent"</div>
    <button color="accent" mat-raised-button>Click!</button>

    <div class="mat-title">Botón Mat-raised-button Color: "warn"</div>
    <button color="warn" mat-raised-button>Click!</button>
</div>
<br/><br/><br/><br/>


