<br/><br/>
<div class="mat-display-3">Grid List</div>
<div class="mat-subheading-2">Muestra de la integración de los Grid List de Angular Material´s</div>
<mat-divider></mat-divider>
<mat-grid-list cols="2">
    <mat-grid-tile rowspan="2">Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list>
<br />
<mat-divider></mat-divider>
<!-- 100px; 2:1-->
<mat-grid-list cols="2" rowHeight="fit" style="height: 100px" gutterSize="10px">
    <mat-grid-tile>Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list>
<br /><br />