<div>
    <br/><br/>
    <div class="mat-display-3">Badge</div>
    <div class="mat-subtitle-2">Muestra de la integración de los Badges de Angular Material´s.</div>
    <mat-divider></mat-divider>
    <div>
        <div class="mat-body-2">Span Binding [matBadge]="notifications":</div><br/>
        <span [matBadge]="notifications">Notificacion</span>
    </div>
    <br/>
    <div>
        <div class="mat-body-2">Span Binding [matBadge]="notifications" [matBadgeHidden]="notifications2 == 0":</div><br/>
        <span [matBadge]="notifications2" [matBadgeHidden]="notifications2 == 0">Notificacion</span>
    </div>
    <br/><br/>
    <div>
        <div class="mat-body-2">Span matBadge="5" matBadgePosition="below before":</div><br/>
        <span matBadge="5" matBadgePosition="below-before">Notificacion</span>
    </div>
    <br/><br/>
    <div>
        <div class="mat-body-2">Span matBadge= matBadgePosition="below after":</div><br/>
        <span matBadge="5" matBadgePosition="below after">Notificacion</span>
    </div>
    <br/><br/>
    <div>
        <div class="mat-body-2">Span matBadge" matBadgePosition="above before":</div><br/>
        <span matBadge="5"  matBadgePosition="above before">Notificacion</span>
    </div>
    <br/><br/>
    <div>
        <div class="mat-body-2">Span matBadge  matBadgeSize="small":</div><br/>
        <span matBadge="5" matBadgeSize="small">Notificacion</span>
    </div>
    <br/><br/>
    <div>
        <div class="mat-body-2">Span matBadge matBadgeSize="medium":</div><br/>
        <span matBadge="5" matBadgeSize="medium">Notificacion</span>
    </div>
    <br/><br/>
    <div>
        <div class="mat-body-2">Span matBadge matBadegSize="large":</div><br/>
        <span matBadge="5" matBadegSize="large">Notificacion</span>
    </div>
    <br/><br/>
    <div>
        <div class="mat-body-2">Span matBadge matBadgeColor="primary":</div><br/>
        <span matBadge="5" matBadgeColor="primary">Notificacion</span>
    </div>
    <br/><br/>
    <div>
        <div class="mat-body-2">Span matBadge matBadgeColor="accent":</div><br/>
        <span matBadge="5" matBadgeColor="accent">Notificacion</span>
    </div>
    <br/><br/>
    <div>
        <div class="mat-body-2">Span matBadge matBadgeColor="wran":</div><br/>
        <span matBadge="5" matBadgeColor="warn">Notificacion</span>
    </div>
    <br/><br/>
    <div>
        <div class="mat-body-2">Span matBadge matBadgeColor="wran" matBadgeOverlap="false":</div><br/>
        <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notificacion</span>
    </div>
    <br/><br/>
</div>