<br/><br/>
<div class="mat-display-3">Expansion Panel</div>
<div class="mat-subheading-2">Muestra de la integración de los Expansion Panel de Angular Material´s</div>
<mat-divider></mat-divider>
<mat-accordion> <!-- Para extander y contraer; con  multi="true" se quita. El Defaut: false -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular fundamentals;
            </mat-panel-title>
            <mat-panel-description>
                Total Duration: 3 hours;
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the content. Add course details</p>
        <mat-action-row>
            <button mat-botton>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Material;
            </mat-panel-title>
            <mat-panel-description>
                Total Duration: 2 hours;
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the content. Add course details</p>
        <mat-action-row>
            <button mat-botton>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
