<div>
    <br/><br/>
    <div class="mat-display-3"><span>Icons<mat-icon>apps</mat-icon></span></div>
    <div class="mat-subheading-2">Muestra de la integración de los Icons de Angular Material´s</div>
    <mat-divider></mat-divider>
    <div>
        <div class="mat-body-2">1.-Revisar que se tenga la siguiente libreria inlcuida</div>
        <div class="mat-body-1">https://fonts.googleapis.com/icon?family=Material+Icons</div>
        <br>
        <div class="mat-body-2">2.-Agregar IconsModule</div>
        <br>
        <div class="mat-body-2">3.-En el siguiente link puedes escoger un Icono</div>
        <div class="mat-body-1">
            <button mat-raised-button color="primary">
                <a href="https://material.io/resources/icons/?icon=android&style=baseline">Icons!</a>
            </button>
        </div>
        <br>
        <br>
        <div class="mat-body-2">4.-Agrega el nombre del icono dentro de una etiqueta "mat-icon"</div>
        <br>
        <div class="mat-body-1">Ejemplo: dentro de una etiqueta "mat-icon" agrega "account_tree"</div>
        <mat-icon>account_tree</mat-icon>
        <br>
    </div>
</div>
